<div class="body">
  @if (isReady)
  {
    <h1>Passa-Parola di Dio</h1>

    <div class="circle-container">
      <img src="logo.png" alt="logo" height="130px" width="auto">
      @for (item of items; track $index)
      {
        <div class="circle {{item?.status ?? ''}}"
        [ngClass]="{ 'hover': this.index === $index }"
        [ngStyle]="{'transform': 'rotate(' + ($index * (360 / items.length)) + 'deg) translate(153px) rotate(' + ((-$index * (360 / items.length)) + 90) + 'deg)'}"
        (click)="setStatus(item)">
          {{ item.key }}
        </div>
      }
    </div>

    <h1>Passa-Parola di Dio</h1>
  }
</div>
